altgraph==0.17.4
aqtinstall==3.1.12
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
defusedxml==0.7.1
fbs==1.2.1
fonttools==4.49.0
future==1.0.0
humanize==4.9.0
idna==3.6
inflate64==1.0.0
iso8601==2.1.0
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.8.3
multivolumefile==0.2.3
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
patch==1.16
pefile==2023.2.7
pillow==10.2.0
psutil==5.9.8
py7zr==0.21.0
pybcj==1.0.2
pycryptodomex==3.20.0
PyInstaller==3.4
pyparsing==3.1.1
pyppmd==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
pyqt5ac==1.2.1
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.12
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzstd==0.15.9
requests==2.31.0
semantic-version==2.10.0
serial==0.0.97
shiboken6==6.6.2
six==1.16.0
soupsieve==2.5
texttable==1.7.0
urllib3==2.2.1
